<div class="main-body">
  <div class="hero">
    <div class="social">
      <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <span class="line"></span>
    </div>
  </div>
  <div class="right-nav">
    <nav>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="member-list">Members</a></li>
        <li><a routerLink="admin">Manage</a></li>
      </ul>
    </nav>
    <p>{{title}}</p>
    <router-outlet></router-outlet>
  </div>
</div>
