<div class="new-member-add body">
  <div class="add-member-group">
    <h2>Add a new club member</h2>
    <div class="input-group">
      <label>Name:</label>
      <input #newName>
    </div>

    <div class="input-group">
      <label>Phone Number:</label>
      <input #newPhone>
    </div>

    <div class="input-group">
      <label>Address:</label>
      <textarea #newAddress></textarea>
    </div>

    <div class="input-group">
      <label>Favorite Dish:</label>
      <input #newDish>
    </div>

    <div class="input-group">
      <label>Bio:</label>
      <textarea #newBio></textarea>
    </div>
    <button (click)="submitForm(newName.value, newPhone.value, newAddress.value, newDish.value, newBio.value); newName.value=''; newPhone.value=''; newAddress.value=''; newDish.value=''; newBio.value=''">Add</button>
  </div>
</div>
<div>
  <app-member-list></app-member-list>
</div>
